
/* #####################################################################
   #
   #   Project       : Alfred
   #   Author        : Gauthier Donikian
   #   Version       : 2.0
   #
   ##################################################################### */

body{
    margin:0;
    padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav-link:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */

@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}


/* Globals type styling */
    h1, h2, h3, h4, h5, h6, p, label, .btn, a{
    font-family:"Helvetica";
}


/* Site container width */

.container{
    width:100%;
    padding-left:15px;
    padding-right:15px;
}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
    width:100%;
    clear:both;
    background: 50% 50% no-repeat;
    padding:0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
}
.bloc .container{
    padding-left:0;
    padding-right:0;
}


/* Sizes */

.bloc-lg{
    padding-top:44px;
}
.bloc-sm{
    padding:2px 5px;
}


/* Dark theme */

.d-bloc{
    color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
    color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
    color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
    border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
    border-color:rgba(255,255,255,.8);
}
.d-bloc a{
    color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
    color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
    background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
    color:rgba(255,255,255,1);
    border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
    color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
    color:rgba(0,0,0,.7);
}
.d-bloc .panel h1,.d-bloc .panel h2, .d-bloc .panel h3, .d-bloc .panel h4, .d-bloc .panel h5, .d-bloc .panel h6, .d-bloc .ico{
    color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
    border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
    border-color:rgba(0,0,0,.1);
}
.d-bloc .panel a{
    color:rgba(0,0,0,.6);
}
.d-bloc .panel a:hover{
    color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
    color:rgba(0,0,0,.7);
    border-color:rgba(0,0,0,.3);
}


/* Light theme */

.l-bloc{
    color:rgba(0,0,0,.5);
}
.l-bloc button:hover{
    color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
    color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
    border-color:rgba(0,0,0,.7);
}
.l-bloc .divider-h span{
    border-color:rgba(0,0,0,.1);
}
.l-bloc a{
    color:rgba(0,0,0,.6);
}
.l-bloc a:hover{
    color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
    color:rgba(0,0,0,.6);
}
.l-bloc .btn-wire, .l-bloc .btn-wire:hover{
    color:rgba(0,0,0,.7);
    border-color:rgba(0,0,0,.3);
}

/* Bloc text custom styling */

#bloc-2 h3{
    line-height:50px;
}


/* DEBUG DEBUG DEBUG DEBUG */
#bloc-3 {
    width: 100%;
}
#bloc-3-i {
    width: 80%;
    margin-left: 12%;
}
/* DEBUG DEBUG DEBUG DEBUG */



/* = NavBar
-------------------------------------------------------------- */
.navbar{
    margin-bottom: 0;
}
.navbar-img{
    position: absolute;
    z-index: 1;
    margin-left: 35%;
    padding-top: 10px;
    
}
.navbar-pro{
    position: absolute;
    z-index: 2;
    padding-top: 10px;
    padding-left: 10px;
}
.navbar-brand{
    height:50px;
    font-size:25px!important;
    font-weight:normal;
    font-weight:600;
}
.navbar-brand img{
    max-height: 50px;
}
.navbar-brand{
    /*padding-top: -20px;*/
}
.navbar .nav{
    /*padding-top: 0px;*/
    margin-right: -16px;
    float:right;
    z-index:1;
}
.nav > li{
    float:left;
    margin-top:4px;
    font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
    text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
    background:transparent;
}
.navbar-toggle{
    margin: 10px 10px 0 0;
    border: 0px;
}
.navbar-toggle:hover{
    background:transparent!important;
}
.navbar-toggle .icon-bar{
    background-color: rgba(0,0,0,.5);
    width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
    float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
    float:right;
}
@media (min-width: 768px){
    .site-navigation{
        position:absolute;
        top:50%;
        right:20px;
        transform:translate(0, -50%);
        -webkit-transform:translateY(-50%);
    }
    .nav-invert .site-navigation{
        left:20px;
        right:0;
    }
    .nav-center{
        text-align:center;
    }
    .nav-center .navbar-header{
        width:100%;
    }
    .nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
        float: none;
        display:inline-block;
    }
    .nav-center .site-navigation{
        position:relative;
        width:100%;
        margin-top:20px;
    }
}
.nav > li > .dropdown a{
    background: none!important;
    display: block;
    padding: 14px 15px;
}

nav .caret{
    margin: 0 5px;
}

/* = Center
-------------------------------------------------------------- */

.v-center{
    position: relative;
    height: inherit;
}
.v-center .vc-content{
    position:relative;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
    margin: 0 5px 5px 0;
}
.btn.pull-right{
    margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
    color:#FFF!important;
    background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
    outline: none!important;
}

.dropdown a .caret{
    margin:0 0 0 5px}

/* Empty space fillers - Used on empty blocs to fill them out */

.empty-column,.empty-column.thin{
    width:100%;
    height:350px;
    display:inline-block;
}
.empty-column{
    height:350px;
}
.empty-column.thin{
    height:150px;
}

/* ########################################################################### */



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
}
@media (max-width: 768px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */  
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important; 
        padding-right:10px!important; 
    }
    .bloc{
        padding-left: 0; 
        padding-right: 0; 
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    
    .navbar .nav{
        /*padding-top: 0;*/
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
       position:inherit;
       transform:none;
       -webkit-transform:none;
       -ms-transform:none;
    }
    /*.navbar-img{
            margin-left: 45%;
    }*/
    .nav > li{
        /*margin-top: 0;*/
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;
        /*margin: -10px 10px 0 0; */   
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left; 
    }
    .btn.pull-left, .btn.pull-right{
       float:none!important; 
    }
    .bloc-group .bloc{
         display:block;
         width:100%;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
       padding-left: 10px;
       padding-right: 10px;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        /*padding: 40px 0;*/
    }
    .bloc-sm,.bloc-md{
        padding-left: 0; 
        padding-right: 0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 30px;
        margin-bottom: 39px;
    }

}
/* CSS Iphone 6,6S,7 et plus */
@media (max-width: 416px)
{  
    html{
        height:calc(100% - 0px);
    }
    body{
        height: 100%;
    }
    .page-container {
        height: 100%;
    }
    .page {
        height: 100%;
    }
    .pbloc-all {
        height:calc(100% - 54px);
        margin-left: auto;
        margin-right: auto;
      
    }
    .pbloc-btn {
        height: 100%
    }
    .cadre_btn {
        height: 380px;
        margin: auto;
        margin-top: 40px;
        width: 300px;
    }

    #connexion{
        margin-left: 3%;
        margin-top: 30px;
        width:300px;
        height: 100px;
        font-size: 30px;
        color: white;
        opacity: 0.9;
        border-color: white;

    }
    #ouvert{
        margin-left: 3%;
        margin-top: 30px;
        width:300px;
        height: 100px;
        font-size: 25px;
        color: white;
        opacity: 0.9;
        border-color: white;

    }
    #fermer{
        margin-left: 3%;
        margin-top: 30px;
        width:300px;
        height: 100px;
        font-size: 25px;
        color: white;
        opacity: 0.9;
        border-color: white;
    }

    
    .title {
        display: inline-block;
        margin-top: 0px;
        margin-left: -8px;
    }
    .title_img {
        margin-left: -21.5%;
        margin-top: -4px;

    }

    #sign_div {
    	margin-top: 70px;
    }
    .sign_bar{
        margin-left: 26px;
    }
    #sign_text {
        text-align: center;
    }
    #sign_text_i {
    }
}

/* CSS Iphone 5,5S */
@media (max-width: 321px)
{  
    .cadre_btn {
        height: 380px;
        margin: auto;
        width: 300px;
    }

    #connexion{
            margin-left: 3%;
            margin-top: 30px;
            width:300px;
            height: 100px;
            font-size: 30px;
            color: white;
            opacity: 0.9;
            border-color: white;

    }
    #ouvert{
            margin-left: 3%;
            margin-top: 30px;
            width:300px;
            height: 100px;
            font-size: 25px;
            color: white;
            opacity: 0.9;
            border-color: white;

    }
    #fermer{
            margin-left: 3%;
            margin-top: 30px;
            width:300px;
            height: 100px;
            font-size: 25px;
            color: white;
            opacity: 0.9;
            border-color: white;
    }

    .pbloc-all {
            height: 515px;
            margin-left: auto;
            margin-right: auto;
      
    }
    .title {
        display: inline-block;
        margin-top: 0px;
        margin-left: -8px;
    }
    .title_img {
        margin-left: -21.5%;
        margin-top: -4px;

    }

    #sign_div {
            margin-top: 20px;
    }
    .sign_bar{
        margin-left: 0px;
    }
    #sign_text {
        text-align: center;
    }
    #sign_text_i {
    }
}
/* ########################################################################### */


/* = Custom Colour Styling
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
    background-color:#ffffff;
}
.bgc-black{
    background-color:black;
}
.ft-white{
    color:white;
}
.ft-black{
    color:black;
}
.bgc-grey{
    background-color:#333;
}

/* Bloc image backgrounds */
.bg-fond {
    
  background-image: url('../../img/w-portail.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}  
.bg-ppeint {
    
  background-image: url('../../img/w-ppeint.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 -moz-background-size: cover;
  height: 400px;
}
.bg-mountains {
  background-image:url('../../img/w-mountains.jpg');
}
.bg-citysky {
  background-image:url('../../img/w-citysky.jpg');
}
.bg-cirques {
  background-image:url('../../img/w-cirques.jpg');
}
.bg-forrest {
  background-image:url('../../img/w-forrest.jpg');
}
.bg-iphone {
  background-image:url('../../img/w-iphone.jpg');
}
.black {
  background-color: black;
}
                


